html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}
.hidden {
  overflow: hidden;
}
.main-wrapper {
  height: calc(var(--vh, 1vh) * 100);

  overflow: hidden;
  position: relative;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

​img {
  max-width: 100%;
  display: block;
  height: auto;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.white-wrapper span::selection,.white-wrapper h1::selection,.white-wrapper h2::selection,.white-wrapper h3::selection,.white-wrapper h4::selection,.white-wrapper h5::selection,.white-wrapper h6::selection,.white-wrapper p::selection {
  color: var(--sub-text-color);
  background: var(--sub-bg-color); 
 }
 .black-wrapper  span::selection,.black-wrapper  h1::selection,.black-wrapper  h2::selection,.black-wrapper  h3::selection,.black-wrapper  h4::selection,.black-wrapper  h5::selection,.black-wrapper  h6::selection,.black-wrapper  p::selection {
   color: var(--sub-bg-color);
  background: var(--sub-text-color); 
 }
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

input:focus,
input:active,
button:active,
button:focus {
  outline: none;
}

.transition {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* CURSOR START */

.cursor {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--sub-bg-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  z-index: 99999999999999999999999999;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  display: none;
}

.preloader-inactive .cursor-active {
  display: block;
}
.cursor-hover {
  width: 3rem;
  height: 3rem;
  background-color: var(--dark-gray-color);
  opacity: 0.2 !important;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.cursor-white {
  background-color: var(--main-bg-color);
}

.cursor-white-hover {
  width: 3rem;
  height: 3rem;
  background-color: var(--main-bg-color);
  opacity: 0.2 !important;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* CURSOR END */

.white-wrapper .section-content {
  background-color: var(--main-bg-color);
}

.black-wrapper .section-content {
  background-color: var(--sub-bg-color);
}

.main-title {
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.11;
}

.main-title--mb {
  margin-bottom: 0.8rem;
}

.sub-title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.11;
}

.small-title {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.43;
}

.main-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
}

.black-wrapper .small-title {
  color: var(--sub-text-color);
}

.black-wrapper .main-title {
  color: var(--sub-text-color);
}

.black-wrapper .main-text {
  color: var(--sub-text-color);
}

.text-container {
  max-width: 35.2rem;
}

.pulse {
  background-color: var(--dark-gray-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: pulse 0.7s ease-in;
  -webkit-animation: pulse 0.7s ease-out;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  position: absolute;
}

@-webkit-keyframes pulse {
  to {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    background-color: var(--main-bg-color);
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .cursor {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .main-title--mb {
    margin-bottom: 1.6rem;
  }
  .small-title {
    line-height: 1.33;
    font-size: 2.4rem;
  }
}
